* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, #6a11cb, #2575fc);
    font-family: Arial, sans-serif;
    padding-top: 100px;
}

h1 {
    font-family: 'Bungee Spice', sans-serif; /* Google font */
    font-size: 3rem;
    margin-bottom: 40px;
}

input {
    padding: 10px;
    font-size: 1rem;
    margin-right: 10px;
    border: 2px solid hsl(39, 100%, 50%);
    outline: none;
    background-color: white;
    transition: 0.3s ease;
}

input:hover {
    border-color: hsl(39, 100%, 45%);
    background-color: #f0f0f0; /* slightly darker than white */
}

button {
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    background-color: hsl(39, 100%, 50%);
    color: white;
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: hsl(39, 100%, 45%);
}

#pokemonSprite {
    width: 450px;
    height: 450px;
    object-fit: contain;
}